IONOS_API_KEY=your_ionos_api_key
IONOS_SECRET_API_KEY=your_ionos_secret_api_key
SYNO_DSM_HOSTNAME=nas.example.lan
SYNO_DSM_PORT=5001
SYNO_USERNAME=your_dsm_username
SYNO_PASSWORD=your_dsm_password
SYNO_CERTIFICATE=karimi.me
ACME_SERVER=letsencrypt
