services:
  acme:
    image: neilpang/acme.sh:3.0.7
    container_name: acme-sh
    environment:
      - IONOS_PREFIX=${IONOS_PREFIX}
      - IONOS_SECRET=${IONOS_SECRET}
      - ACME_SERVER=${ACME_SERVER:-letsencrypt}
      - SYNO_HOSTNAME=${SYNO_HOSTNAME}
      - SYNO_PORT=${SYNO_PORT:-5001}
      - SYNO_SCHEME=${SYNO_SCHEME:-https}
      - SYNO_USERNAME=${SYNO_USERNAME}
      - SYNO_PASSWORD=${SYNO_PASSWORD}
      - SYNO_CERTIFICATE=${SYNO_CERTIFICATE}
      - SYNO_DEVICE_ID=${SYNO_DEVICE_ID:-}
      - SYNO_DEVICE_NAME=${SYNO_DEVICE_NAME:-CertRenewal}
    volumes:
      - ./acme.sh:/acme.sh
      - ./certs:/certs
    command: daemon
